/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './base.css';

#app {
    background-color: var(--tertiary-color);
    ;
    max-width: auto;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

#footer {
    justify-content: space-evenly;
    display: flex;
    background-color: var(--secondary-color);
    padding: 2%;
}

#navbar {
    display: flex;
    background-color: var(--primary-color);
    filter: drop-shadow(0em 0.1em 0.1em var(--text-color));
    justify-content: space-evenly;
    padding: 1%;
}

#title {
    font-size: larger;
}

body {
    min-height: 100vh;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}

.btn-outline-primary {
    color: var(--accent-primary) !important;
    border-color: var(--accent-primary) !important;
    font-weight: 500 !important;
    border-width: 1px;
}

.btn-outline-primary:hover {
    color: white !important;
    border-color: var(--accent-primary) !important;
    background-color: var(--accent-primary) !important;
}

.btn-outline-tertiary {
    color: var(--accent-secondary) !important;
    border-color: var(--accent-secondary) !important;
    font-weight: 500 !important;
    border-width: 1px;
}

.btn-outline-tertiary:hover {
    color: white !important;
    border-color: var(--accent-secondary) !important;
    background-color: var(--accent-secondary) !important;
}

.btn-primary {
    background-color: var(--accent-primary) !important;
    border-color: var(--accent-primary) !important;
    font-weight: 500 !important;
}

.btn-primary:hover {
    color: white !important;
    border-color: var(--accent-primary) !important;
    filter: brightness(90%) !important;
}

.btn-info {
    color: white !important;
    background-color: var(--accent-secondary) !important;
    border-color: var(--accent-secondary) !important;
    font-weight: 500 !important;
}

.btn-info:hover {
    color: white !important;
    border-color: var(--accent-secondary) !important;
    filter: brightness(90%) !important;
}

.btn {
    transition: transform 0.1s ease-in-out !important;
}

.btn:hover {
    transform: scale(1.10) !important;
}